{{page-title 'EmberQuickstart'}}

{{! The following component displays Ember's default welcome message. }}
{{! <WelcomePage /> }}
<div class='gh-viewport'>
  <main class='gh-main' role='main'>
    <section id='ember89' class='gh-editor gh-view ember-view'>
      <header class='gh-editor-header br2 pe-none'>
        <div class='flex items-center pe-auto'>
          <div
            class='f8 fw3 lh-copy tracked-2 ma0 pa0 h9 br b--lightgrey pl3 pr4 flex items-center br2 br--left bg-white'
          >
            <a
              href='#/posts/'
              id='ember90'
              class='blue link fw4 flex items-center ember-view'
            >
              <svg
                xmlns='http://www.w3.org/2000/svg'
                viewBox='0 0 48 48'
                class='w3 fill-blue mr1 nudge-right--2'
              ><path
                  fill='#010101'
                  d='M37.802 46.247L12.376 24 37.801 1.753A1 1 0 1 0 36.484.247l-26.286 23a1.004 1.004 0 0 0 .001 1.506l26.286 23a.997.997 0 0 0 1.411-.095 1 1 0 0 0-.094-1.411z'
                ></path></svg>
              Posts
            </a>
          </div>
          <div
            class='flex items-center pl4 pr4 f8 nudge-left--1 h9 br2 br--right bg-white'
          >
            <span class='fw3 midgrey-l2'>
              <div id='ember91' class='ember-view'>
                New
              </div>
            </span>
            <div id='ember92' class='ember-view'><!----></div>
          </div>
        </div>

        <!---->
        <section class='view-actions br2 bg-white' style='pointer-events: auto'>
          <!---->
          <button
            class='post-settings'
            title='Settings'
            type='button'
            data-ember-action=''
            data-ember-action-93='93'
          >
            <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path
                d='M8.156 23.988c-.676 0-1.323-.25-1.822-.704a2.702 2.702 0 0 1-.883-2.128l.072-1.404a1.21 1.21 0 0 0-1.144-1.269l-.062-.002c-.021 0-.041 0-.062.002l-1.401.071a2.698 2.698 0 0 1-1.953-.692 2.692 2.692 0 0 1-.892-1.871c-.043-.817.281-1.6.887-2.149l1.042-.94a1.207 1.207 0 0 0 0-1.796L.896 10.16a2.687 2.687 0 0 1-.885-1.874 2.708 2.708 0 0 1 2.834-2.837l1.402.071a1.209 1.209 0 0 0 1.271-1.269l-.067-1.406A2.712 2.712 0 0 1 8.03.011l.129-.003c.76 0 1.489.323 2.001.886l.941 1.039a1.2 1.2 0 0 0 .835.399l.066.002a1.187 1.187 0 0 0 .892-.398l.95-1.042a2.689 2.689 0 0 1 1.871-.887l.136-.003a2.707 2.707 0 0 1 2.707 2.847l-.071 1.4a1.21 1.21 0 0 0 1.146 1.267l.061.002.057-.001 1.4-.071.138-.003c.672 0 1.316.249 1.815.702.536.486.851 1.152.887 1.874a2.7 2.7 0 0 1-.889 2.143l-1.042.94a1.2 1.2 0 0 0-.396.836 1.2 1.2 0 0 0 .396.958l1.042.941c.537.485.853 1.15.89 1.873a2.687 2.687 0 0 1-.695 1.953 2.72 2.72 0 0 1-2.015.892l-.131-.003-1.402-.071-.066-.002c-.302 0-.58.108-.806.311a1.194 1.194 0 0 0-.397.96l.071 1.4a2.698 2.698 0 0 1-.708 1.953 2.69 2.69 0 0 1-2.011.882c-.75 0-1.474-.321-1.986-.88l-.944-1.044a1.213 1.213 0 0 0-1.795 0l-.946 1.042a2.72 2.72 0 0 1-2.005.883zm-3.839-7.006a2.712 2.712 0 0 1 2.704 2.848l-.072 1.4a1.205 1.205 0 0 0 1.206 1.26l.059-.001a1.2 1.2 0 0 0 .837-.394l.944-1.04a2.705 2.705 0 0 1 2.008-.892c.766 0 1.499.325 2.012.892l.941 1.041c.226.247.552.389.896.389l.049-.001a1.21 1.21 0 0 0 1.152-1.262l-.071-1.395a2.688 2.688 0 0 1 .89-2.149 2.697 2.697 0 0 1 1.954-.694l1.399.071.069.002a1.2 1.2 0 0 0 .889-.399c.217-.24.327-.55.311-.872a1.199 1.199 0 0 0-.397-.836l-1.042-.94a2.713 2.713 0 0 1 0-4.022l1.042-.94c.27-.244.414-.592.396-.956a1.2 1.2 0 0 0-.396-.837 1.203 1.203 0 0 0-.809-.313l-.062.002-1.399.071a2.95 2.95 0 0 1-.27-.001 2.71 2.71 0 0 1-2.568-2.84l.071-1.401a1.2 1.2 0 0 0-.397-.958 1.176 1.176 0 0 0-.802-.312l-.068.002a1.197 1.197 0 0 0-.837.397l-.948 1.04a2.703 2.703 0 0 1-2.01.892l-.138-.003a2.691 2.691 0 0 1-1.871-.891L9.05 1.902a1.213 1.213 0 0 0-.894-.394l-.057.001a1.21 1.21 0 0 0-1.15 1.265l.067 1.4A2.708 2.708 0 0 1 4.17 7.018l-1.399-.07-.057-.002a1.21 1.21 0 0 0-1.205 1.266c.016.322.156.619.395.836l1.041.945a2.713 2.713 0 0 1-.002 4.021l-1.041.94c-.27.244-.414.594-.395.958a1.204 1.204 0 0 0 1.205 1.145c.021 0 .043 0 .064-.002l1.401-.071.14-.002z'
              ></path><path
                d='M12 17.25c-2.895 0-5.25-2.355-5.25-5.25S9.105 6.75 12 6.75s5.25 2.355 5.25 5.25-2.355 5.25-5.25 5.25zm0-9c-2.068 0-3.75 1.682-3.75 3.75s1.682 3.75 3.75 3.75 3.75-1.682 3.75-3.75S14.068 8.25 12 8.25z'
              ></path></svg>
          </button>
        </section>
      </header>
          <GhKoenigEditor 
            {{!-- @title={{readonly this.post.titleScratch}} --}}
            @titlePlaceholder={{concat (capitalize this.post.displayName) " Title"}}
            @onBodyChange={{action "updateScratch"}}
            {{!-- @onTitleChange={{action "updateTitleScratch"}}
            @onTitleBlur={{action (perform this.saveTitle)}}
            @body={{readonly this.post.scratch}}
            @bodyPlaceholder={{concat "Begin writing your " this.post.displayName "..."}}
            @bodyAutofocus={{this.shouldFocusEditor}}
            @headerOffset={{editor.headerHeight}}
            @scrollContainerSelector=".gh-koenig-editor"
            @scrollOffsetTopSelector=".gh-editor-header-small"
            @scrollOffsetBottomSelector=".gh-mobile-nav-bar"
            @onEditorCreated={{action "setKoenigEditor"}}
            @onWordCountChange={{action "updateWordCount"}}
            @snippets={{this.snippets}}
            @saveSnippet={{if this.canManageSnippets this.saveSnippet}}
            @deleteSnippet={{if this.canManageSnippets this.toggleDeleteSnippetModal}} --}}
          />

      <div
        id='ember94'
        class='gh-koenig-editor relative w-100 vh-100 overflow-x-hidden overflow-y-auto z-0 ember-view'
      ><div class='gh-koenig-editor-pane flex flex-column mih-100'>
          <textarea
            tabindex='1'
            placeholder='Post Title'
            id='ember95'
            class='gh-editor-title ember-text-area gh-input ember-view'
            style='resize: none; height: 50px;'
          ></textarea>

          {{!-- {{koenig-editor}}    --}}
          {{!-- <KoenigEditor /> --}}
          {{!-- <GhKoenigEditor /> --}}

        </div><div
          class='erd_scroll_detection_container erd_scroll_detection_container_animation_active'
          style='visibility: hidden; display: inline; width: 0px; height: 0px; z-index: -1; overflow: hidden; margin: 0px; padding: 0px;'
        ><div
            dir='ltr'
            class='erd_scroll_detection_container'
            style='position: absolute; flex: 0 0 auto; overflow: hidden; z-index: -1; visibility: hidden; width: 100%; height: 100%; left: 0px; top: 0px;'
          ><div
              class='erd_scroll_detection_container'
              style='position: absolute; flex: 0 0 auto; overflow: hidden; z-index: -1; visibility: hidden; inset: -16px -15px -15px -16px;'
            ><div
                style='position: absolute; flex: 0 0 auto; overflow: scroll; z-index: -1; visibility: hidden; width: 100%; height: 100%;'
              ><div
                  style='position: absolute; left: 0px; top: 0px; width: 1889px; height: 1026px;'
                ></div></div><div
                style='position: absolute; flex: 0 0 auto; overflow: scroll; z-index: -1; visibility: hidden; width: 100%; height: 100%;'
              ><div
                  style='position: absolute; width: 200%; height: 200%;'
                ></div></div></div></div></div></div>

      <div class='absolute flex items-center br3 bg-white right-6 bottom-6'>
        <div class='midgrey-l2 f8 pl4 pr3 fw3'>
          0 words
        </div>
        <a
          href='https://docs.ghost.org/faq/using-the-editor/'
          class='flex pa3'
          target='_blank'
        ><svg
            viewBox='0 0 20 20'
            xmlns='http://www.w3.org/2000/svg'
            class='w4 h4 stroke-midgrey-l2'
          ><g fill='none' fill-rule='evenodd' stroke='#343F44'><path
                d='M6.875 8.118c-.003-1.94.963-2.98 2.897-3.122 1.934-.143 3.042.745 3.323 2.664.282 1.92-.525 3.088-2.418 3.507-.446.088-.671.358-.677.812v.928m0 2.086c.139 0 .208.07.208.209 0 .139-.07.208-.208.208-.139 0-.208-.07-.208-.208a.204.204 0 0 1 .208-.208'
                stroke-linecap='round'
                stroke-linejoin='round'
              ></path><path
                d='M19.5 10c0-2.629-.924-4.859-2.782-6.718C14.858 1.424 12.628.5 10 .5c-2.629 0-4.859.924-6.718 2.782C1.424 5.142.5 7.372.5 10c0 2.629.924 4.859 2.782 6.718C5.142 18.576 7.372 19.5 10 19.5c2.629 0 4.859-.924 6.718-2.782 1.858-1.86 2.782-4.09 2.782-6.718z'
              ></path></g></svg></a>
      </div>

    </section>
    <!---->
    <!---->
    <!---->
    <div id='' class='liquid-wormhole-container'>
    </div>
    <!---->

  </main>
  {{!-- {{koenig-editor}}    --}}
</div>
{{! <GhKoenigEditor /> }}
{{! Feel free to remove this! }}

{{outlet}}