{{page-title 'EmberQuickstart'}}

{{! The following component displays Ember's default welcome message. }}
{{! <WelcomePage /> }}
<div class='gh-viewport'>
  <main class='gh-main' role='main'>
    <section id='ember89' class='gh-editor gh-view ember-view'>
      <GhKoenigEditor
        @titlePlaceholder={{concat (capitalize this.post.displayName) ' Title'}}
        @onBodyChange={{action 'updateScratch'}}
        @bodyPlaceholder={{concat "Begin writing your " this.post.displayName "..."}}
        @scrollContainerSelector=".gh-koenig-editor"
        @scrollOffsetTopSelector=".gh-editor-header-small"
        @scrollOffsetBottomSelector=".gh-mobile-nav-bar"
        @onEditorCreated={{action "setKoenigEditor"}}
        @headerOffset={{editor.headerHeight}}
        @onWordCountChange={{action "updateWordCount"}}
        @bodyAutofocus={{this.shouldFocusEditor}}
        @onTitleChange={{action "updateTitleScratch"}}
        @title={{readonly this.post.titleScratch}}
        @body={{readonly this.post.scratch}}
        {{!-- 
            @snippets={{this.snippets}}
            @saveSnippet={{if this.canManageSnippets this.saveSnippet}}
            @onTitleBlur={{action (perform this.saveTitle)}}
            @deleteSnippet={{if this.canManageSnippets this.toggleDeleteSnippetModal}} --}}
      />

    </section>
    <!---->
    <!---->
    <!---->
    <div id='' class='liquid-wormhole-container'>
    </div>
    <!---->

  </main>
  {{!-- {{koenig-editor}}    --}}
</div>
{{! <GhKoenigEditor /> }}
{{! Feel free to remove this! }}

{{outlet}}